<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta property="og:title"                content="{{ coupon.title }}" />

    <meta property="og:image"                content="{{ asset(coupon_avatar_path~coupon.imageUrl) }}" />
    <meta property="og:image:width"        content="544" />
    <meta property="og:image:height"              content="306" />
    <meta property="og:description"              content="{{ coupon.description }}"/>
</head>
<body>

</body>
</html>