/.idea
/application/web/bundles/
/application/var/bootstrap.php.cache
application/var/cache
!application/app/cache/.gitkeep
application/var/logs/*
!application/app/logs/.gitkeep
application/var/sessions/*
!application/app/sessions/.gitkeep
/application/app/config/parameters.yml
/application/vendor/*
/application/web/backend/
/application/npm-debug.log
/.vagrant
/vagrant/data/elasticsearch
!/vagrant/data/elasticsearch/.gitkeep
/vagrant/data/mysql
!/vagrant/data/mysql/.gitkeep
/vagrant/data/rabbitmq
!/vagrant/data/rabbitmq/.gitkeep
/application/node_modules/
/application/bower_components/
