/.idea
/application/web/uploads/
/application/web/bundles/
/application/var/bootstrap.php.cache
application/var/cache
!application/app/cache/.gitkeep
application/var/logs/*
!application/app/logs/.gitkeep
application/var/sessions/*
!application/app/sessions/.gitkeep
/application/app/config/parameters.yml
/application/vendor/*
/application/web/backend/
/application/npm-debug.log
/.vagrant
/vagrant/data
/application/node_modules/
/application/bower_components/
application/src/CoreBundle/Entity/*~
