{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% block title %}導入事例{% endblock %}
{% set active_menu = 'portfolio' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Portfolio</h2>
        <h3>導入事例</h3>
    </div>
    <!-- //wrapp-sl-content -->
{% endblock %}

