{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% block title %}運営会社{% endblock %}
{% set active_menu = 'about_us' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>About Us</h2>
        <h3>運営会社</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-img-about">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapp-img-about-content">
                    <div>
                        <table class="table tb-ab-us">
                            <tbody>
                            <tr>
                                <td colspan="2"><center><img src="{{ asset('customer/images/logo-hunters-3.png') }}" class="img-responsive" alt=""></center></td>
                            </tr>
                            <tr>
                                <th>社名</th>
                                <td>HUNTERS株式会社</td>
                            </tr>
                            <tr>
                                <th>設立</th>
                                <td>2014年2月10日</td>
                            </tr>
                            <tr>
                                <th>英文社名</th>
                                <td>HUNTERS Co., Ltd.</td>
                            </tr>
                            <tr>
                                <th>代表取締役</th>
                                <td>藤吉 良</td>
                            </tr>
                            <tr>
                                <th>資本金</th>
                                <td>999万円</td>
                            </tr>
                            <tr>
                                <th>株主構成</th>
                                <td>藤吉 良 100％</td>
                            </tr>
                            <tr>
                                <th>本社</th>
                                <td>〒135-0063   東京都江東区有明3-7-26 有明フロンティアビル9階</td>
                            </tr>
                            <tr>
                                <th>E - mail</th>
                                <td>info@hunters.co.jp</td>
                            </tr>
                            <tr>
                                <th>事業内容</th>
                                <td>スマートフォンサイト・アプリ制作・開発事業・スマートフォンメディア広告事業</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-img-home -->

    <div class="wrapp-map-about">
        <img src="{{ asset('customer/images/map-about.gif') }}" width="100%" alt="">
    </div>
{% endblock %}

<!-- wrapp_contact  -->
{% block wrapp_contact %}
    
{% endblock %}
<!-- /wrapp_contact -->