<div id="wrapp_sl">
    <div class="bg_sl">
        <div class="text_sl_left">
            <a href="" class="logo_sl"><img src="{{ asset('landing/images/logo_sl.png') }}" alt=""></a>
            <h2>お客さんとの出会いを作り、<br> 楽しみと驚きを届ける「クーポンアプリ」</h2>
            <p>
                PONは、ユーザーが投稿したSNSのお写真をクーポンにして新規集客からリピーター<br>獲得が出来る国内初の特許取得済みクーポンアプリです。
            </p>
            <a href="" class="btn_sl">特許番号　特許第5778324号</a>
            <ul class="nav_sl_circle">
                <li>
                    <div class="text_circle_top">登録・月額</div>
                    <div class="text_circle_bottom">無料</div>
                </li>
                <li>
                    <div class="text_circle_top">利用は最短</div>
                    <div class="text_circle_bottom">当日</div>
                </li>
                <li>
                    <div class="text_circle_top">登録は簡単</div>
                    <div class="text_circle_bottom">５分</div>
                </li>
            </ul>
        </div>
        <div class="phone_sl"><img src="{{ asset('landing/images/phone_sl.png') }}" class="img-responsive" alt=""></div>
    </div>
</div>
<!-- //sl -->