<script type="text/javascript">
    $(document).ready(function(){
        $("#frmSummary").submit(function(e){
            e.preventDefault();
            var formSerialize = $(this).serialize();
            $.post("{{ path("admin_summary_edit",{id: coupon.id}) }}", formSerialize, function(response){
                //your callback here
               console.log(response);

            },'JSON');
        });

    });

</script>
<div id="frmEditCoupon">
{% include 'AdminBundle:Summary:base_edit.html.twig' with {form: form} %}
</div>