@charset "UTF-8";
@font-face {
    font-family: 'HiraginoSans-W3';
    src:url(../fonts/HiraginoSans-W3.otf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'HiraginoSans-W6';
    src:url(../fonts/HiraginoSans-W6.otf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'LucidaGrande';
    src:url(../fonts/LucidaGrande.ttf) format('truetype');
    font-weight: normal;
}
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  color: #333;
  width: 100%;
  background: #fff;
}

.wrapp_header{
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapp_header .content_header{
  background:#ffffff;
  box-shadow:0px 2px 2px -1px rgba(20,30,34,0.48);
  width: 1280px;
  margin: 0 auto;
  height: 65px;
  line-height: 65px;
  height: auto;
  overflow: hidden;
}

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../images/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("../images/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.nav-btn {
  display: block;
  width: 56px;
  height: 35px;
  padding: 0;
  border: 0;
  outline: none;
  background: url("../images/menu.png") left center no-repeat;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
.no-svg .nav-btn {
  background-image: url("../images/menu.png");
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#outer-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

#nav {
  z-index: 200;
  position: relative;
  float: right;
  overflow: hidden;
  color: #fff;
}
#nav .close-btn {
  display: none;
}
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav ul {
  *zoom: 1;
  display: block;
}
#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
}
#nav li a {
  display: block;
  font-size:12px;
  color:#3c5064;
  letter-spacing:1.2px;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
  font-family: 'HiraginoSans-W3';
}
#nav li a:focus, #nav li a:hover {
  color: #18c0d4;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
  color: #18c0d4;
}

#top {
  z-index: 100;
  color: #fff;
  float: left;
}
#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
  padding: 11px 0;
}
#top .block-title a{
  text-decoration: none;
}
#top .block-title a img.logo{
  padding-right: 8px;
}
#top .nav-btn {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*=================================
===========button right============
===================================*/
#btn_top_right{
  z-index: 20;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  float: right;
  margin-left: 35px;
  font-family: 'HiraginoSans-W6';
}
#btn_top_right a.btn_top_first{
  border:2px solid #0cd4f0;
  border-radius:4px;
  display: inline-table;
  width:116px;
  line-height: 28px;
  height:28px;
  font-size:12px;
  color:#0cd4f0;
  letter-spacing:1.2px;
  text-align:center;
  text-decoration: none;
}
#btn_top_right a:hover.btn_top_first{
  border:2px solid #506478;
  color:#506478;
}
#btn_top_right a.btn_top_last{
  background:#18c0d4;
  border-radius:4px;
  margin-left: 16px;
  width:120px;
  height:32px;
  display: inline-table;
  line-height: 32px;
  font-size:12px;
  color:#fff;
  letter-spacing:1.2px;
  text-align:center;
  text-decoration: none;
}
#btn_top_right a:hover.btn_top_last{
  background:#506478;
  color: #fff;
}

/*=================================
=================sl================
===================================*/
#wrapp_sl{
  width: 100%;
  margin: 0;
  padding: 0;
}
#wrapp_sl .bg_sl{
  background: url(../images/bg_sl.png) no-repeat top;
  max-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 576px;  
}
#wrapp_sl .bg_sl .phone_sl{
  float: right;
  text-align: right;
  padding: 80px 80px 0 0;
  width: 45%;
}
#wrapp_sl .bg_sl .text_sl_left{
  float: left;
  text-align: left;
  padding: 80px 0 0 80px;
  width: 55%;
}
#wrapp_sl .bg_sl .text_sl_left a.logo_sl{
  display: none;
}
#wrapp_sl .bg_sl .text_sl_left h2{
  font-family:'HiraginoSans-W6';
  font-size:30px;
  color:#ffffff;
  letter-spacing:1.65px;
  line-height:56px;
  text-shadow:0px 1px 2px rgba(20,30,34,0.24);
  text-align:left;
}
#wrapp_sl .bg_sl .text_sl_left p{
  font-family:'HiraginoSans-W6';
  font-size:14px;
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing:1.05px;
  line-height:32px;
  text-shadow:0px 1px 2px rgba(20,30,34,0.24);
  text-align:left;
}
#wrapp_sl .bg_sl .text_sl_left a.btn_sl{
  opacity:0.95;
  background:#fff00c;
  border-radius:16px;
  width:300px;
  height:32px;
  font-family:HiraginoSans-W6;
  font-size:14px;
  color:#3c5064;
  letter-spacing:1.19px;
  line-height:32px;
  text-align:center;
  display: inline-table;
  text-decoration: none;
}
#wrapp_sl .bg_sl .text_sl_left a:hover.btn_sl{
  background: #d9cc09;
}
#wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle{
  padding: 0;
  display: block;
  margin: 40px 0 0 0;
}
#wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li{
  background:#ffffff;
  box-shadow:0px 2px 4px 0px rgba(20,30,34,0.12);
  width:144px;
  height:144px;
  border-radius:100%;
  float: left;
  text-align: center;
  margin-right: 40px;
}
#wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li:last-child{
  margin-right: 0;
}
#wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_top{
  padding-top: 37px;
  padding-bottom: 10px;
  font-family:'HiraginoSans-W6';
  font-size:16px;
  color:#3c5064;
  letter-spacing:1.2px;
  text-align:center;
}
#wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_bottom{
  clear: both;
  font-family:'HiraginoSans-W6';
  font-size:28px;
  color:#3c5064;
  letter-spacing:2.1px;
  text-align:center;
}

/*=================================
================main===============
===================================*/
#main {
  background: #fff;
  clear: both;
}

.wrapp_hand{
  margin: 72px 0 70px 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.wrapp_hand .content_hand{
  width: 80%;
  margin: 0 auto;
}
.wrapp_hand .content_hand h2{
  font-family:'HiraginoSans-W6';
  padding: 50px 0 30px 0;
  font-size:30px;
  color:#3c5064;
  letter-spacing:1.6px;
  text-align:center;
}
.wrapp_hand .content_hand p{
  font-family:'HiraginoSans-W3';
  font-size:18px;
  color:#506478;
  letter-spacing:1.2px;
  line-height:40px;
  text-align:center;
}
/*=============hand================*/

.wrapp_ques{
  margin: 0 0 70px 0;
  padding: 100px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  background:#fafafc;
}
.wrapp_ques .content_ques{
  width: 80%;
  margin: 0 auto;
}
.wrapp_ques .content_ques h2{
  font-family:'HiraginoSans-W6';
  font-size:30px;
  color:#3c5064;
  letter-spacing:1.6px;
  text-align:center;
}
p.img_ques{
  margin-bottom: 40px;
  margin-top: 80px;
}
p.text_ques{
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#3c5064;
  letter-spacing:2px;
  line-height:24px;
  text-align:center;
}
/*=============ques================*/

.wrapp_photo{
  background: url(../images/bg_photo.jpg) no-repeat top;
  max-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 1600px;  
}
.wrapp_photo .content_photo{
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 150px 0;
  text-align: center;
}
.wrapp_photo .content_photo h2{
  font-family:'HiraginoSans-W6';
  font-size:30px;
  color:#ffffff;
  letter-spacing:1.6px;
  text-align:center;
}
p.img_photo{
  padding: 65px 0 65px 0;
}
.wrapp_photo .content_photo h3{
  font-family:'HiraginoSans-W6';
  font-size:24px;
  color:#ffffff;
  letter-spacing:1.2px;
  text-align:center;
}
.wrapp_photo .content_photo p.text_photo{
  padding-top: 70px;
  font-family:'HiraginoSans-W3';
  font-size:20px;
  color:#ffffff;
  letter-spacing:1.33px;
  line-height:40px;
  text-align:center;
}
/*=============photo===============*/

.wrapp_service{
  margin: 100px 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.wrapp_service .content_service{
  width: 80%;
  margin: 0 auto;
}
.wrapp_service .content_service h2{
  font-family:'HiraginoSans-W6';
  font-size:30px;
  color:#3c5064;
  letter-spacing:1.6px;
  text-align:center;
  padding-bottom: 100px;
}
.wrapp_service .content_service .category_service{
  clear: both;
  width: 100%;
  margin: 0 0 150px 0;
  padding: 0;
}
.wrapp_service .content_service .category_service.none{
  margin-bottom: 0;
}
p.icon_service{
  text-align: center;
}
p.title_service{
  height: 90px;
  background: url(../images/line_service.png) no-repeat center bottom;
}
p.title_service.once_line{
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#3c5064;
  line-height:50px;
  text-align:center;
  padding: 25px 0 20px 0;
}
p.title_service.two_line{
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#3c5064;
  line-height:24px;
  text-align:center;
  padding: 25px 0 20px 0;
}
p.text_service{
  font-family:'HiraginoSans-W3';
  font-size:14px;
  font-weight: bold;
  color:#3c5064;
  line-height:27px;
  text-align:center;
  padding-top: 20px;
}
/*=============service===============*/

.wrapp_btn{
  margin: 0;
  padding: 80px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background:#506478;
  text-align: center;
}
.wrapp_btn .content_btn{
  width: 80%;
  margin: 0 auto;
}
.wrapp_btn .content_btn h2{
  font-family:'HiraginoSans-W6';
  font-size:26px;
  color:#ffffff;
  letter-spacing:1.6px;
  line-height:24px;
  text-align:center;
}
p.text_btn{
  opacity:0.95;
  font-family:'HiraKakuProN-W6';
  font-size:16px;
  color:#ffffff;
  letter-spacing:1px;
  text-align:center;
  padding-top: 30px;
}
a.btn_index{
  background:#18c0d4;
  border:1px solid #0eb6ca;
  border-radius:6.4px;
  margin-top: 40px;
  width:398px;
  height:54px;
  line-height: 54px;
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#ffffff;
  letter-spacing:1.28px;
  text-align:center;
  text-decoration: none;
  display: inline-table;
}
a:hover.btn_index{
  background: #14a0b1;
}
/*==============button===============*/

.wrapp_step{
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.wrapp_step .content_step{
  width: 80%;
  margin: 0 auto;
}
.wrapp_step .content_step h2{
  font-family:'HiraginoSans-W6';
  font-size:30px;
  color:#3c5064;
  letter-spacing:1.6px;
  text-align:center;
  margin-bottom: 50px;
}
.wrapp_step .content_step .main_step{
  background:rgba(23,191,212,0.12);
  border:4px solid #18c0d4;
  border-radius:8px;
  width:100%;
  height:auto;
  text-align: left;
  overflow: hidden;
}
.wrapp_step .content_step .main_step p.text_step_left{
  font-family:'LucidaGrande';
  font-weight: bold;
  font-size:28px;
  color:#18c0d4;
  letter-spacing:0px;
  text-align:left;
  padding: 32px 0 32px 20px;
}
.wrapp_step .content_step .main_step p.text_step_right{
  font-family:'HiraginoSans-W6';
  font-size:24px;
  color:#3c5064;
  letter-spacing:0px;
  text-align:left;
  padding:32px 0 32px 50px;
}
.wrapp_step .content_step .arrow_step{
  text-align: center;
  clear: both;
  margin: 22px 0;
}
/*==============step===============*/

.wrapp_q{
  margin: 150px 0 20px 0;
  padding: 100px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  background:#fafafc;
}
.wrapp_q .content_q{
  width: 80%;
  margin: 0 auto;
}
.wrapp_q .content_q ul.nav_q{
  margin: 0;
  padding: 0;
}
.wrapp_q .content_q ul.nav_q li{
  background:#ffffff;
  border:2px solid #c8d2d6;
  border-radius:8px;
  clear: both;
  width: 100%;
  padding: 13px 0;
  height: auto;
  overflow: hidden;
  text-align: left;
  margin-bottom: 25px;
}
.wrapp_q .content_q ul.nav_q li:last-child{
  margin-bottom: 0;
}
.wrapp_q .content_q ul.nav_q li .col-md-2{
  text-align: center;
}
.wrapp_q .content_q ul.nav_q li .col-md-10{
  text-align: left;
  padding-top: 10px;
}
.wrapp_q .content_q ul.nav_q li .col-md-2 span.icon_q{
  font-family:'LucidaGrande';
  font-weight: bold;
  font-size:32px;
  color:#18c0d4;
  letter-spacing:2px;
}
.wrapp_q .content_q ul.nav_q li .col-md-10 span.text_q{
  font-family:'HiraginoSans-W3';
  font-weight: bold;
  font-size:16px;
  color:#3c5064;
  vertical-align: middle;
  letter-spacing:1.6px;
  text-align:left;
}
.wrapp_q .content_q ul.nav_q li .col-md-10 .sub_content_q{
  background:rgba(250,250,252,0.80);
  border:1px solid #fafafc;
  border-radius:8px;
  padding: 14px 40px;
  margin-top: 30px;
  margin-left: -30px;
  margin-bottom: 30px;
}
.wrapp_q .content_q ul.nav_q li .col-md-10 .sub_content_q span{
  font-family:'HiraginoSans-W3';
  font-size:16px;
  color:#3c5064;
  letter-spacing:1.59px;
  line-height:36px;
  text-align:left;
}
/*===============q=================*/

.wrapp_address_map{
  margin:0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.map{
  float: right;
  width: 50%;
}
.address{
  float: left;
  width: 50%;
}
.tb-home{
  width: 85%;
  margin: 0 auto;
}
.tb-home .table tr > th{
  font-family:'HiraginoSans-W3';
  font-size:14px;
  color:#788286;
  padding: 16px 0;
  border: none;
}
.tb-home .table tr > td{
  font-family:'HiraginoSans-W3';
  font-size:14px;
  color:#505a5e;
  font-weight: bold;
  padding: 16px 0;
  border: none;
}
.logo_address{
  margin: 75px 0 65px 0;
  text-align: center;
}
/*==========address & map==========*/

/*=================================
===============footer==============
===================================*/
footer .footer_top{
  background:#506478;
  height:256px;
  overflow: hidden;
  line-height: 246px;
  text-align: center;
}
footer .footer_bottom{
  background:#465a6e;
  height:64px;
  line-height: 64px;
  overflow: hidden;
  text-align:center;
}
footer .footer_bottom span{
  font-family:'LucidaGrande';
  font-size:13px;
  color:#cccccc;
  letter-spacing:0px;
}

/*=================================
===============apply==============
===================================*/
#wrapp_apply{
  width: 100%;
  height: auto;
  clear: both;
  overflow: hidden;
  margin-bottom: 40px;
}
.bg_apply{
  background: url(../images/bg_apply.png) no-repeat top center;
  max-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 240px;  
}
.bg_apply .content_apply{
  width: 80%;
  margin: 0 auto;
}
.bg_apply .content_apply h1{
  font-family:'HiraginoSans-W6';
  font-size:28px;
  color:#ffffff;
  letter-spacing:4px;
  text-align:left;
  padding-top: 65px;
}
.bg_apply .content_apply .content_sub_apply{
  width: 90%;
  margin: 50px auto;
  text-align: center;
  padding: 0;
}
.bg_apply .content_apply .content_sub_apply ul.tab_apply{
  margin: 0;
  padding: 0;
}
.bg_apply .content_apply .content_sub_apply ul.nav_apply li{
  float: left;
  width: 33.333333333%;
}
.bg_apply .content_apply .content_sub_apply ul.nav_apply li a{
  text-decoration: none;
}
.bg_apply .content_apply .content_sub_apply ul.nav_apply li a span{
  opacity:0.63;
  font-family:'HiraginoSans-W6';
  font-size:20px;
  color:#ffffff;
  letter-spacing:4px;
  line-height:32px;
  text-align:center;
  padding-bottom: 67px;
}
.bg_apply .content_apply .content_sub_apply ul.nav_apply li a:hover span,
.bg_apply .content_apply .content_sub_apply ul.nav_apply li.active span{
  opacity: 1;
  background: url(../images/arrow_apply.png) no-repeat bottom center;
}
.form_apply{
  width: 75%;
  margin: 80px auto;
  font-family:'HiraginoSans-W3';
}
.form-horizontal .form-group{
  margin-bottom: 20px;
}
.form-control.input-contact{
  margin-bottom: 20px;
}
.row-contact {
    margin: 0 -15px;
}
.form-horizontal .form-group label{
  font-family:'HiraginoSans-W3';
  font-size:16px;
  color:#3c464a;
  letter-spacing:2px;
  padding-top: 10px;
}
.form-horizontal .form-group label span.red-text{
  color: #fe5a80;
  padding-left: 10px;
}
.form-horizontal .form-group a.link-label{
  font-family:'HiraginoSans-W3';
  font-size:14px;
  color:#3c90c8;
  letter-spacing:1.75px;
  padding-top: 24px;
  font-weight: bold;
}
.select-arrow {
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #ccc;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url(../images/arrow_select.png) no-repeat 98% 50%;
}
.select-arrow select {
  width: 100%;
  height: 40px;
  padding: 2px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #506478;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a.btn_apply{
  background:#18c0d4;
  border:1px solid #0eb6ca;
  border-radius:6.4px;
  margin-top: 40px;
  width:398px;
  height:54px;
  line-height: 54px;
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#ffffff;
  letter-spacing:1.28px;
  text-align:center;
  text-decoration: none;
  display: inline-table;
}
a:hover.btn_apply{
  background: #14a0b1;
}
.radio label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    margin-right: 15px;
    font-size: 13px;
}
.radio input[type=radio] {
    display: none;
}
.radio label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottombottom: 1px;
    background-color: #fafafa;
}
.radio .radio label:before {
    border-radius: 8px;
}
.radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: #1ebfd5;
    font-size: 58px;
    text-align: center;
    line-height: 16px;
}
ul.nav_ra{
  margin: 0;
  padding: 0;
}
ul.nav_ra li{
  background:#ffffff;
  border:1px solid #c8d2d6;
  border-radius:8px;
  width:100%;
  height:auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 22px 30px 22px 30px;
}
ul.nav_ra li:last-child{
  margin-bottom: 20px;
}
.money{
  font-family:'HiraginoSans-W6';
  font-size:24px;
  color:#505a5e;
  letter-spacing:1px;
  line-height:32px;
  padding-left: 60px;
  font-weight: bold;
  padding-top: 10px;
}
/*==========apply 1==========*/

.form_apply_2{
  width: 75%;
  margin: 0 auto;
  background:#fafafa;
  border:1px solid #c8d2d6;
  border-radius:12px;
  padding: 40px;
  height:auto;
  font-family:'HiraginoSans-W3';
}
.form_apply_2 .content_apply_2{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.form_apply_2 .content_apply_2 ul.nav_ra li .money{
  padding-left: 0;
}
.form_apply_2 .content_apply_2 span.text_left{
  text-align: left;
  font-family:'HiraginoSans-W3';
  font-size:14px;
  color:#506478;
  letter-spacing:1.75px;
  line-height:45px;
  font-weight: bold;
}
.wrapp_btn_apply_2{
  margin: 40px 0;
}
.wrapp_btn_apply_2 a.btn_apply_none{
  background:#fff;
  text-decoration: none;
  display: inline-table;
  font-family:'HiraginoSans-W6';
  font-size:16px;
  color:#18c0d4;
  letter-spacing:1.14px;
  text-align:center;
  border:1px solid #0eb6ca;
  border-radius:6.4px;
  width:318px;
  height:54px;
  line-height: 54px;
  margin-right: 55px;
}
.wrapp_btn_apply_2 a:hover.btn_apply_none{
  background:#fafafa;
  border:1px solid #c8d2d6;
}
.wrapp_btn_apply_2 a.btn_apply_2{
  background:#18c0d4;
  border:1px solid #0eb6ca;
  border-radius:6.4px;
  margin-top: 40px;
  width:318px;
  height:54px;
  line-height: 54px;
  font-family:'HiraginoSans-W6';
  font-size:18px;
  color:#ffffff;
  letter-spacing:1.28px;
  text-align:center;
  text-decoration: none;
  display: inline-table;
}
.wrapp_btn_apply_2 a:hover.btn_apply_2{
  background: #14a0b1;
}
/*==========apply 2==========*/

.form_apply_3{
  width: 75%;
  margin: 0 auto;
  background:#fafafa;
  border:1px solid #c8d2d6;
  border-radius:12px;
  padding: 60px;
  margin-bottom: 90px;
  height:auto;
  font-family:'HiraginoSans-W3';
}
.form_apply_3 .content_apply_3{
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.form_apply_3 .content_apply_3 h2{
  font-family:'HiraginoSans-W6';
  font-size:20px;
  color:#505a5e;
  text-align:center;
}
.form_apply_3 .content_apply_3 .img_apply_finish{
  margin: 40px 0;
}
.form_apply_3 .content_apply_3 .text_apply_finish{
  font-family:'HiraginoSans-W3';
  font-size:16px;
  font-weight: bold;
  color:#505a5e;
  line-height:28px;
  text-align:center;
}
/*==========apply 3==========*/

@media only screen and (max-width: 1024px) { 
  .wrapp_q .content_q,
  .wrapp_step .content_step,
  .wrapp_btn .content_btn,
  .wrapp_service .content_service,
  .wrapp_hand .content_hand,
  .wrapp_photo .content_photo{
    width: 90%;
  }
  .wrapp_btn .content_btn h2 {
    line-height: 40px;
  }
  .address {
    float: none;
    width: 100%;
  }
  .map {
    float: none;
    width: 100%;
  }
  .wrapp_step .content_step .main_step p.text_step_right {
    text-align: center;
    padding: 0px 0 32px 0px;
  }
  .wrapp_step .content_step .main_step p.text_step_left {
    text-align: center;
    padding: 32px 0 32px 0px;
  }
  #nav li a {
    padding: 0.42857em 0.42857em;
  }
  #top .block-title a > img.pon{
    display: none;
  }
  #btn_top_right{
    float: left;
    margin-left: 5px;
  }
  #btn_top_right a.btn_top_first {
    width: 65px;
  }
  #btn_top_right a.btn_top_last {
    width: 100px;
    margin-left: 0px;
  }
  #nav{
    float: none;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li {
    width: 100px;
    height: 100px;
  }
  #wrapp_sl .bg_sl .text_sl_left {
    padding: 80px 0 0 25px;
  }
  #wrapp_sl .bg_sl .text_sl_left h2 {
    font-size: 19px;
    line-height: 40px;
  }
  #wrapp_sl .bg_sl .phone_sl {
    padding: 253px 25px 0 0;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_top {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_bottom {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .wrapp_q .content_q,
  .wrapp_step .content_step,
  .wrapp_btn .content_btn,
  .wrapp_service .content_service,
  .wrapp_hand .content_hand,
  .wrapp_photo .content_photo{
    width: 90%;
  }
  .wrapp_btn .content_btn h2 {
    line-height: 40px;
  }
  .address {
    float: none;
    width: 100%;
  }
  .map {
    float: none;
    width: 100%;
  }
  .wrapp_step .content_step .main_step p.text_step_right {
    text-align: center;
    padding: 0px 0 32px 0px;
  }
  .wrapp_step .content_step .main_step p.text_step_left {
    text-align: center;
    padding: 32px 0 32px 0px;
  }
  #nav li a {
    padding: 0.42857em 0.42857em;
  }
  #top .block-title a > img.pon{
    display: none;
  }
  #btn_top_right{
    float: left;
    margin-left: 5px;
  }
  #btn_top_right a.btn_top_first {
    width: 65px;
  }
  #btn_top_right a.btn_top_last {
    width: 100px;
    margin-left: 0px;
  }
  #nav{
    float: none;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li {
    width: 100px;
    height: 100px;
  }
  #wrapp_sl .bg_sl .text_sl_left {
    padding: 80px 0 0 25px;
  }
  #wrapp_sl .bg_sl .text_sl_left h2 {
    font-size: 19px;
    line-height: 40px;
  }
  #wrapp_sl .bg_sl .phone_sl {
    padding: 251px 25px 0 0;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_top {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_bottom {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .content_header .container{
    float: left;
  }
  .wrapp_q .content_q,
  .wrapp_step .content_step,
  .wrapp_btn .content_btn,
  .wrapp_service .content_service,
  .wrapp_hand .content_hand,
  .wrapp_photo .content_photo{
    width: 90%;
  }
  .wrapp_btn .content_btn h2 {
    line-height: 40px;
  }
  .address {
    float: none;
    width: 100%;
  }
  .map {
    float: none;
    width: 100%;
  }
  .wrapp_step .content_step .main_step p.text_step_right {
    text-align: center;
    padding: 0px 0 32px 0px;
  }
  .wrapp_step .content_step .main_step p.text_step_left {
    text-align: center;
    padding: 32px 0 32px 0px;
  }
  #nav li a {
    padding: 0.42857em 0.42857em;
  }
  #top .block-title a > img.pon{
    display: none;
  }
  #btn_top_right{
    float: left;
    margin-left: 5px;
  }
  #btn_top_right a.btn_top_first {
    width: 65px;
  }
  #btn_top_right a.btn_top_last {
    width: 100px;
    margin-left: 0px;
  }
  #nav{
    float: none;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li {
    width: 100px;
    height: 100px;
  }
  #wrapp_sl .bg_sl .text_sl_left {
    padding: 80px 0 0 25px;
  }
  #wrapp_sl .bg_sl .text_sl_left h2 {
    font-size: 19px;
    line-height: 40px;
  }
  #wrapp_sl .bg_sl .phone_sl {
    padding: 245x 25px 0 0;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_top {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle li .text_circle_bottom {
    font-size: 20px;
  }
}
@media screen and (min-width: 45.0625em) {
  .content_header .container{
    float: none;
  }
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav ul {
    text-align: right;
    float: left;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0.42857em 0.84em;
  }
}
@media screen and (max-width: 45em) {
  .wrapp_service .content_service .category_service {
    margin: 0 0 25px 0;
  }
  .bg_apply .content_apply h1 {
    padding-top: 50px;
  }
  .form_apply_3 {
    width: 100%;
  }
  .bg_apply .content_apply .content_sub_apply ul.nav_apply li a:hover span, 
  .bg_apply .content_apply .content_sub_apply ul.nav_apply li.active span{
    background: none;
  }
  .bg_apply .content_apply .content_sub_apply ul.nav_apply li a span{
    padding-bottom: 0;
    font-size: 19px;
  }
  .bg_apply .content_apply .content_sub_apply ul.nav_apply li {
    float: none;
    width: 100%;
  }
  .bg_apply .content_apply .content_sub_apply {
    width: 100%;
    margin: 15px auto;
    text-align: left;
  }
  .content_header .container{
    float: none;
  }
  #top .block-title a img.logo{
    padding-right: 0;
  }
  .wrapp_step .content_step .main_step p.text_step_right{
    padding: 0px 0 32px 50px;
  }
  .wrapp_step .content_step .main_step p.text_step_left{
    padding: 32px 0 10px 20px;
  }
  .wrapp_btn .content_btn h2 {
    line-height: 45px;
  }
  .wrapp_q .content_q,
  .wrapp_step .content_step,
  .wrapp_btn .content_btn,
  .wrapp_service .content_service,
  .wrapp_hand .content_hand,
  .wrapp_photo .content_photo{
    width: 90%;
  }
  .form_apply_2{
    width: 100%;
  }
  .wrapp_btn_apply_2 a.btn_apply_none{
    width: 100%;
    margin-right: 0;
  }
  .wrapp_btn_apply_2 a.btn_apply_2{
    width: 100%;
  }
  a.btn_index,
  a.btn_apply{
    width: 100%;
  }
  .form_apply{
    width: 100%;
  }
  .map{
    float: none;
    width: 100%;
  }
  .address{
    float: none;
    width: 100%;
  }
  .wrapp_step .content_step .main_step p.text_step_left,
  .wrapp_step .content_step .main_step p.text_step_right{
    text-align: center;
    padding-left: 0;
  }
  #wrapp_sl .bg_sl {
    min-height: 972px;
  }
  #wrapp_sl .bg_sl{
    text-align: center;
  }
  #wrapp_sl .bg_sl .text_sl_left ul.nav_sl_circle{
    display: none;
  }
  #wrapp_sl .bg_sl .text_sl_left a.logo_sl{
    display: block;
    text-align: center;
    margin: 55px 0 25px 0;
  }
  #wrapp_sl .bg_sl .text_sl_left h2{
    text-align: center;
    font-size: 25px;
    line-height: 40px;
  }
  #wrapp_sl .bg_sl .text_sl_left h2:first-letter{
    font-size: 45px;
  }
  #wrapp_sl .bg_sl .text_sl_left p{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
  }
  #wrapp_sl .bg_sl .text_sl_left a.btn_sl{
    width: 95%;
  }
  #wrapp_sl .bg_sl .phone_sl{
    width: 100%;
    clear: both;
    text-align: center;
    padding: 33px 15px 0 15px;
  }
  #wrapp_sl .bg_sl .text_sl_left{
    width: 100%;
    text-align: center;
    clear: both;
    padding: 15px 15px;
  }
  .wrapp_header .content_header {
    width: 100%;
  }
  #btn_top_right a.btn_top_first {
    width: 100%;
    line-height: 45px;
    height: 45px;
  }
  #btn_top_right a.btn_top_last {
    width: 100%;
    line-height: 45px;
    height: 45px;
    margin-left: 0;
  }
  #btn_top_right {
    text-align: center;
    float: none;
    width: 80%;
    margin: 20px auto
  }
  #top {
    float: none;
  }
  #top .block-title a img.pon{
    display: none;
  }
  #nav {
    position: absolute;
    top: 0;
    padding-top: 64px;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
  }
  #nav li {
    position: relative;
    text-align: center;
  }
  #nav li a {
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
  }

  .js-ready #nav {
    height: 100%;
    width: 70%;
    background: #3c5064;
    padding-right: 0;
    position: fixed;
    border-right: 1px solid #fff;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }
}