{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% set active_menu = 'news' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>News</h2>
        <h3>導入フロー</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-category-news">
        <div class="container">
            <div class="col-md-12">
                <div class="news-content">
                    <div class="col-md-3">
                        <ul class="news-nav-left">
                            <li class="active"><a href="" title="">テキストが入ります</a></li>
                            <li><a href="" title="">テキストが入ります</a></li>
                            <li><a href="" title="">テキストが入ります</a></li>
                            <li><a href="" title="">テキストが入ります</a></li>
                            <li><a href="" title="">テキストが入ります</a></li>
                            <li><a href="" title="">テキストが入ります</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <ul class="news-nav-right">
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>スマートフォンサイト・アプリ制作・開発事業・スマートフォンメディア広</p>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>スマートフ</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>スマートフォンサイト・アプリ制作・開発事業・スマートフォンメディア広</p>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>スマートフ</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span class="date-news">2015.11.15</span>
                                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入り</p>
                                    <p>ますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
                                    <p>入ります</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-category-flow -->
{% endblock %}

