<div class="wrapp_breadcrumbs">
    <div class="content_breadcrumbs">
        <div class="col-md-12">
            <div class="col-md-3">
                <strong class="text_no_breadcrumbs">承認管理</strong><span class="no_breadcrumbs">12</span>
            </div>
            <div class="col-md-5">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-default btn_tab_breadcrumbs active" role="button">全て</a>
                    <a href="#" class="btn btn-default btn_tab_breadcrumbs" role="button">未承認</a>
                    <a href="#" class="btn btn-default btn_tab_breadcrumbs" role="button">承認済み</a>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="nav_up_que">
                    <li><a href="" class="icon_upload"></a></li>
                    <li><a href="" class="icon_question"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>