<header class="header clearfix">
    <button type="button" id="toggleMenu" class="toggle_menu">
        <i class="fa fa-bars"></i>
    </button>

    <h1><a href=""><img src="{{ asset('backend/images/pon.png') }}" alt=""></a></h1>

    <button id="collapse_menu" class="collapse_menu">
        <i class="collapse_menu--icon fa fa-bars"></i>
    </button>

    <ul class="btn_top_right">
        <li>
            <a data-toggle="modal" data-target=".bs-example-modal-lg" class="click_to_load_modal_popup" href="{{ path('admin_qrcode_create') }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
                <span class="text_btn_top_right">QRコード出力</span>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".bs-example-modal-lg" class="click_to_load_modal_popup" href="{{ path('admin_summary_create') }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
                <span class="text_btn_top_right">新規クーポン作成</span>
            </a>
        </li>
    </ul>
</header>