<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li><a href="" title="">TOP</a></li>
            <li><a href="" title="">クーポン一覧</a> </li>
            <li><a href="" title="">プッシュ通知</a></li>
            <li><a href="" title="">アクセス解析</a></li>
            <li class="active"><a href="" title="">承認管理</a></li>
            <li><a href="" title="">顧客管理</a></li>
            <li><a href="" title="">お知らせ・新着</a></li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Other</h3>
        <ul class="nav side-menu">
            <li><a href="" title="">アカウント設定</a></li>
            <li><a href="" title="">ヘルプ</a> </li>
            <li><a href="" title="">お問い合わせ</a></li>
        </ul>
    </div>
</div>