<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav-top-bar">
            <li><a href=""><i class="fa fa-plus"></i> QRコード出力</a></li>
            <li><a href=""><i class="fa fa-plus"></i> 新規クーポン作成</a></li>
        </ul>
    </nav>
</div>