{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>About</h2>
        <h3>PONについて</h3>
    </div>
    <!-- //wrapp-sl-content -->
    <div class="wrapp-img-about">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapp-img-about-content">
                    <img src="{{ asset('customer/images/banner-content-about.gif') }}" alt="" class="img-responsive" />
                    <h3>
                        PONは、ユーザーが日々SNSに投稿する写真で、 <br>
                        <span>「集客」</span>と<span>「接点」</span>を作るアプリです。
                    </h3>
                    <p>
                        今、Instargram・LINEなどのSNSで日本・世界で流通する「写真」の数は数え切れない
                        ほどの数となっております。また、日本のスマホユーザーは世界でも一番、写真を撮影し保
                        存している枚数が多いと言われております。
                    </p>
                    <p>
                        我々はここに着目し、ユーザーが所有する写真やSNSで投稿した写真を「お店の新規集客」
                        や「リピーター獲得」につながる”ユーザーが創るクーポン”として実現出来ないかと思案し
                        ました。お店や企業とユーザーのコミュニケーションの密度も増し、より多くの顧客を獲得
                        できます。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-img-about -->
{% endblock %}

