# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     '%database.host%'
    database_port:     ~
    database_name:     pon
    database_user:     docker
    database_password: docker
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       smtp.gmail.com
    mailer_user:       vodanhdanh2016@gmail.com
    mailer_password:   smyekwrvbozbzcfx
    mailer_sender: vodanhdanh2016@gmail.com
    mailer_sender_name: PON


    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    rabbitmq_host: '%rabbitmq.host%'
    rabbitmq_port: 5672
    rabbitmq_user: guest
    rabbitmq_pass: guest
    client_id: 1_3bcbxd9e24g0gk4swg0kwgcwg4o8k8g4g888kwc44gcc0gwwk4
    client_secret: 4ok2x70rlfokc8g0wws8c8kwcokw80k44sg48goc0ok4w0so0k
    grant_type: password

    facebook_client_id: 324209427951910
    facebook_client_secret: a9852f1de3092693d16002a8495e1d74

    twitter_consumer_key: 002neLhPbyLMt6rBP68wVVstN
    twitter_consumer_secret: u2Cp1LFDin1zeQXxqXdgQEddZP06wsEPMxotStnThe7OsBVK43

    instagram_client_id: cd9f614f85f44238ace18045a51c44d1
    instagram_client_secret: d839149848c04447bd379ce8bff4d890

    elasticsearch_host: '%elasticsearch.host%'
    elasticsearch_port: 9200
    elasticsearch_index: pon
     
    onesignal_app_id: 8bd3dabf-927b-4e27-8568-cf22d7a586bd
    onesignal_api_key: OTE3NDUzOWQtMTVlZi00YjlkLTg5MzItZWM4MDgwZWU1MjFj

    uploads_path: '%kernel.root_dir%/../web/uploads'
    coupon_avatar_path: '%uploads_path%/coupon/avatar'
    base_coupon_avatar_path: 'uploads/coupon/avatar/'
    base_store_avatar_path: 'uploads/store/avatar/'
    base_news_avatar_path: 'uploads/news/avatar/'
    base_category_avatar_path: 'uploads/category/avatar/'
    base_news_category_avatar_path: 'uploads/news_category/avatar/'
    base_user_avatar_path: 'uploads/user/avatar/'
    store_avatar_path: '%uploads_path%/store/avatar'
    news_avatar_path: '%uploads_path%/news/avatar'
    user_avatar_path: '%uploads_path%/user/avatar'
    category_avatar_path: '%uploads_path%/category/avatar'
    news_category_avatar_path: '%uploads_path%/news_category/avatar'
    image_path: '%uploads_path%/image'
    base_image_upload: 'uploads/image/'
    sample_image_path: '%kernel.root_dir%/../web/samples/image'
    google_service_account_path: '%kernel.root_dir%/config/google/sa.json'


