<h2>パスワードのリセット</h2>
<p>こんにちは {{ appUser.name }},</p>
<p>パスワードをお忘れですか？ リセットのリクエストを受け取りました。 このリクエストを行ったことを確認するために、この確認メールを送信しています。</p>
<p>パスワードを再設定する</p>
<p>または、次のリンクをブラウザにコピー/ペーストすることもできます。{{ url('admin_reset', {id: appUser.appUserId, token: appUser.resetToken}) }}</p>

<p>ありがとうございました！</p>
<p>敬具、</p>
<p>PONチーム</p>