{% extends "CustomerBundle:Layouts:layout_login.html.twig" %}

{% block page_content %}
    <div class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="{{ path('customer_homepage') }}"><img src="{{ asset('backend/images/logo.png') }}" alt=""></a>
            </div>
            <!-- //login-logo -->

            <div class="login-box-body">

                <p class="login-box-msg">システムから電子メールが送信されました。 電子メールを開いてパスワードをリセットしてください。</p>
                <div class="link-bottom">
                    <p>
                        <a href="{{ path('admin_login') }}" class="text-center-bottom">ログインに戻る</a>
                    </p>
                </div>
            </div>

            <!-- //login-box-body -->
        </div>
        <!-- //login-box -->
    </div>
{% endblock %}

