<div class="wrapp-contact">
    <div class="left">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table tb-home">
                    <tbody>
                    <tr>
                        <td colspan="2"><center><img src="{{ asset('customer/images/logo-hunters.png') }}"></center></td>
                    </tr>
                    <tr>
                        <td width="40%">社名</td>
                        <td width="60%">HUNTERS株式会社</td>
                    </tr>
                    <tr>
                        <td>設立</td>
                        <td>2014年2月10日</td>
                    </tr>
                    <tr>
                        <td>英文社名</td>
                        <td>HUNTERS Co., Ltd.</td>
                    </tr>
                    <tr>
                        <td>代表取締役</td>
                        <td>藤吉 良</td>
                    </tr>
                    <tr>
                        <td>資本金</td>
                        <td>999万円</td>
                    </tr>
                    <tr>
                        <td>株主構成</td>
                        <td>藤吉 良 100％</td>
                    </tr>
                    <tr>
                        <td>本社</td>
                        <td>〒135-0063   東京都江東区有明3-7-26 有明フロンティアビル9階</td>
                    </tr>
                    <tr>
                        <td>E - mail</td>
                        <td>info@hunters.co.jp</td>
                    </tr>
                    <tr>
                        <td>事業内容</td>
                        <td>スマートフォンサイト・アプリ制作・開発事業・スマートフォンメディア広告事業</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="{{ asset('customer/images/map.gif') }}" class="img-responsive" title="" />
    </div>
</div>