<div class="wrapp-line-bg">
    <div class="container">
        <div class="col-md-12">
            <div class="content-line-bg">
                <h2>まずは、トライアルからを体感してみてください。</h2>
                <div class="btn-line"><a href="">お問い合わせ</a></div>
            </div>
        </div>
    </div>
</div>