{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% block title %}掲載希望のショップ様{% endblock %}
{% set active_menu = 'faq' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>特定商取引</h2>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-category-faq">
        <div class="container">
            <div class="col-md-12">
                <div class="faq-content">
                    {{ setting.value }}
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-category-faq -->
{% endblock %}




